@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Protest+Guerrilla&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'OpenSans', sans-serif;
}

/* Container principal */
body {
  color: #111;
  line-height: 1.5;
  min-height: 100vh;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-image: url("../imgs/background.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;  
  filter: blur(3.5px) brightness(0.5);
  
  z-index: -1;
}

#container {
  width: 360px;
  height: 100%;
  max-height: 100vh;
  background: transparent;
  background-size: cover;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
  padding: 18px 24px;
  position: relative;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

/* Overlay sutil */
#container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    rgb(129, 90, 17), 
    rgba(51, 31, 7, 0.55)  
  );
  border-radius: 16px;
  z-index: 0;
}

#container > * {
  position: relative;
  z-index: 1;
  width: 100%;
}

/* Perfil / Logo */
#profile {
  margin-bottom: 0;
}

#profile img {
  width: 220px;
  height: 220px;
  object-fit: cover;
}

#profile h2 {
  font-family: OpenSans, Helvetica, sans-serif;
  font-size: 1.7rem;
  font-weight: 600;
  color: #000000;
  margin-bottom: 5px;
  text-shadow: 2px 2px 4px rgb(255, 255, 255);
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}

#profile p {
  font-family: 'Lobster', sans-serif;
  font-size: 1rem;
  color: #f3f4f6;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Menu de itens / links do cardápio */
nav {
  margin-bottom: 15px;
  margin-top: 15px;
  width: 100%;
}

nav .menu li {
  list-style: none;
  margin: 10px 0;
}

nav .menu a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: #F4A261;
  border-radius: 10px;
  transition: all 0.3s ease;
  width: 100%;
  border: 1px solid #3F6C3A;
  padding: 9px 10px;
  font-size: 1rem;
}

nav .menu a:hover {
  background: #ff7a2cc9;
  color: #000000;
  border-color: #dcb82b;
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(220, 184, 43, 0.3);
  font-size: 1rem;
  font-weight: bold;
}

nav .menu a i {
  font-size: 1.2rem;
}

nav #whatsapp-icon {
  color:green;
  margin-right:5px;
}

nav #cardapio-icon {
  color:#000000;
  margin-right:5px;
}

nav #instagram-icon {
  color:#E1306C;
  margin-right:5px;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 10px;
  font-size: 0.8rem;
  color: #d1d5db;
}

/* Responsividade */
@media (max-width: 420px) {
  #container {
    padding: 18px;
    width: 100%;
    margin: 25px;
  }

  #profile img {
    width: 90px;
    height: 90px;
    margin-bottom: 8px;
  }

  #profile h2 {
    font-size: 1.2rem;
  }
  nav .menu a {
    font-size: 1rem;
    padding: 10px 8px;
  }
}

/* Estilo da seção Horário */
.horario {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  background: #fedc63;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  transition: all 0.3s ease;
}

.horario:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  background: #f0be2a;
}

.horario h2 {
  font-size: 0.95rem;
  margin-bottom: 1rem;
  color: #000000;
}

.horario:hover h2 {
  color: #000000;
  font-weight: bold;
  font-size: 1rem;
}

.horario p {
  font-size: 1rem;
  margin: 0.3rem 0;
  color: #194215;
  font-weight: 500;
}

.horario:hover p {
  color: #194215;
  font-weight: bold;
}

/* Pulsar ícone do relógio */
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.fa-beat {
  animation: pulse 1.2s infinite;
}